@font-face{
	font-family: tasker;
	src: url("./Louis-George-Cafe-Italic.woff");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction:column;
    font-family: tasker;
    background: gainsboro;
}

header {
	background: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	padding:1em;
	display: flex;
	justify-content:space-between;	
	flex-direction:row;
	flex-wrap:wrap;
    align-items:center;
}

header h1 {
	font-size:5.5rem;
	color: #d8311e;
}

#links {
	display: flex;
	align-items:center;
}

#links a {
	display: block;
	float: left;
	border: 3px solid #d8311e;
	color:black;
	text-align: center;
	text-decoration: none;
	padding: 1em;
	margin: 0.5rem;
	height: 3.5rem;
	width: 7rem;
	transition: width 0.7s, height 0.7s, line-height 0.7s;
	box-shadow: 3px 5px 11px #888888;
}

#links a:hover {
	color: #d8311e;
	height: 4rem;
	width: 8rem;
}

section.main {
	background:#fff;
	display: flex;
	flex-direction: column;
	margin: 10% 10% 5% 10%;
	box-shadow: 5px 10px 18px #888888;
}

section.main article {
	margin: 1.2em;
	font-size: 1.3rem;
}

footer{
	margin-top: auto;
	display: flex;
	justify-content:space-around;
	align-items:center;
	height: 10rem;
	width: 100%;
	background:#fff;
	font-weight: 1000;
	font-size: 1.1rem;
}

footer p {
	color: #d8311e;
}

footer a {
	color: black;
}

a:hover {
	color: blue;
}